.principalGrid {
background-color: #09bbd3;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(175, 172, 172);
}



.App-link {
  color: #09d3ac;
}
.carte {

font-size: 35px;
padding-right: center;
font-style:initial;
color: aliceblue;
  background-color: #7e8606c5;
}
