.App {
  text-align: center;
  align-items: flex-end;
  background: linear-gradient(to top, rgb(87, 151, 2), rgb(247, 254, 255));
}

/* PAGE PUBLIC  */

.Aider {
  color: rgb(51, 136, 211);
}

.unicef {
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: .4ch;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(0, 128, 255, 0.527);
  font-size: 150%;
  font-variant: initial;
  border-radius: 1%;
  background-color: rgb(255, 255, 255);

 
}

.usdc {
  margin-left: 25%;
  margin-right: 25%;
  border-collapse: separate;
  background-color: #ffffff00;
  margin-top: 2%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.carte {
  background: linear-gradient(
    to top,
    rgba(41, 26, 3, 0),
    rgba(244, 248, 6, 0.199)
  );
  padding-top: 1%;
  margin-bottom: 2%;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 2%;
  border-style: double;
  color: rgb(255, 255, 255);
  scroll-padding: initial;
  font-family: Arial, Helvetica, sans-serif;
}

/* PAGE ADMIN */

.TokenPair {
  background-color: rgb(33, 51, 4);
}
