.App {
  text-align: center;
  align-items: center;
  /* background: linear-gradient(to top, rgb(100, 10, 0), rgba(103, 201, 6, 0.486)); */
  background-image: linear-gradient(rgb(0, 118, 63), rgb(238, 238, 144));
}

/* PAGE PUBLIC  */
.AppBar {
  display: flex;
  font-size: 10px;
  text-align: end;
  align-items: right;
  background-color: rgb(0, 118, 63);
  font-family: "Lucida Console", Courier, monospace;
  color: white;
}
.voteButton {
  background-color: rgb(0, 118, 63);
}
.homeText {
  font-size: 20px;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
}
.fundation {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%
}
.account {
  place-items: end normal;
  text-align: right;
  margin-left: 88%;
  margin-right: 2%;
}
.center {
  align-items: center;
  width: 100%;
  margin-left: 25%
}

.cardContentHome {
  align-items: center;
  background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 0%;
  padding-right: 0%;
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
  max-width: 80%;
}
.cardContentCentered {
  align-items: center;
  background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
  max-width: 80%;
}
.cardContentRight {
  background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
  text-align: center;
  padding-top: 4%;
  padding-bottom: 6%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 10%;
  border-style: solid;
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
  width: 50%;
}
.cardContentLeft {
  background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
  text-align: left;
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 21%;
  margin-right: 0%;
  border-style: solid;
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
  width: 100%;

}

.listStyle {
  margin-left: 1%;
  margin-right: 1%;
  max-width: 22px;
}

.settingCard {
    align-items: center;
    background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 10%;
    margin-left: 0%;
    margin-right: 0%;
    border-style: solid;
    color: rgb(255, 255, 255);
    font-family: "Lucida Console", Courier, monospace;
    width: 100%;
}
.Aider {
  color: rgb(51, 136, 211);

}

.unicef {
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: 0.4ch;
  font-family: "Lucida Console", Courier, monospace;
  color: rgba(0, 128, 255, 0.527);
  font-size: 150%;
  font-variant: initial;
  border-radius: 1%;
  background-color: rgb(255, 255, 255);
}

.usdc {
  margin-left: 25%;
  margin-right: 25%;
  border-collapse: separate;
  background-color: #ffffff00;
  margin-top: 2%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.carte {
  background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
  padding-top: 1%;
  margin-bottom: 2%;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 2%;
  border-style: double;
  color: rgb(255, 255, 255);
  scroll-padding: initial;
  font-family: Arial, Helvetica, sans-serif;
}

/* PAGE ADMIN */

.TokenPair {
  background-color: rgb(33, 51, 4);
}

/* page UserVoting  */

.cartog {
  /* display: flex;
flex-direction: column;
align-items: center; */
  /* direction: row;
justify:space-evenly;
align-items: flex-start; */

  margin-top: 0%;
  padding-top: 1%;
  padding-bottom: 4%;
}
/* page adlminVoting */

.image {
  display: flex;
}

.imagesolipay {
  height: 150px;
  width: 200px;
  align-items: center;
}

.votingtexte {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(245, 245, 245, 0.986);
}

.imagevote {
  height: 150px;
  width: 200px;
  align-items: center;
}
/* align-items: flex-start; */
.adminvoti {
  max-width: 100px;
  max-height: 100px;
}

/* page amin voting */
.imagesolipayadminvoting {
  display: grid;

  align-items: center;
  height: 150px;
  width: 200px;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}
.voteadmintext {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  color: rgba(250, 250, 250, 0.37);
}

.totalgrid {
  align-items: center;
  background-color: rgb(0, 0, 0);
  max-width: max;
  max-height: max;
  widows: initial;
}
.interieur {
  text-align: center;
  align-content: center;
  color: aliceblue;
  background-color: rgb(10, 112, 7);
  max-width: 100%;
  max-height: 100%;
}
.boutonadmin {
  text-align: center;
  background-color: linear-gradient(
    to top,
    rgb(105, 180, 6),
    rgba(0, 165, 187, 0.034)
  );
  font-family: "Times New Roman", Times, serif;
}
.boutonvote {
  text-align: center;
}
.startnewvote {
  text-align: center;
}

.partibass {
  margin: 5%;
}

.photodugagnant {
  align-content: center;
  margin-top: 2%;
  padding: 10%;
}




.powervoting{
  font-size: larger;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}
